# The NAMESPACE file is used to explicitly define which functions should be imported into the package’s namespace and
# which functions the package exposes (i.e. exports) to other packages
# see http://docs.renjin.org/en/latest/writing-renjin-extensions.html for details about the syntax

import(methods)
import(stats)
importClass(se.alipsa.r2md.FileEncoder)
importClass(se.alipsa.r2md.Md2Html)
importClass(se.alipsa.r2md.Md2Pdf)

export(as.character.Markdown)
export(md.asHtml)
export(Markdown)
export(md.add)
export(md.addPlot)
export(md.clear)
export(md.content)
export(md.getInstance)
export(md.htest)
export(md.imgPlot)
export(md.imgPlotComplex)
export(md.imgEmbed)
export(md.imgUrl)
export(md.new)
export(md.plot)
export(md.renderHtml)
export(md.renderPdf)
export(md.summary)
export(md.table)

exportClasses(Markdown)

